
.container {
  background: url(./assets/img/css.jpg) center center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.counter_wrapper {
  background-color: black;
  border: 10px double red;
  border-radius: 30px;
  width: 300px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.counter_wrapper .counter_display {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: white;
}

.counter_buttons {
    display: flex;
    justify-content: space-evenly;
}

.counter_settings {
  background-color: black;
  border: 10px double red;
  border-radius: 30px;
  width: 300px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
